html,body {
	height: 80%;
	width: 98%;
	margin: 0;
	padding: 0.5%;
}
#header {
	background-color: #858585;
	padding: 15px;
	border: solid #858585 2px;
}
#jianli {
	color: #e9e7e6;
	font-weight: bold;
}
.row {
	width: 100%;
	height: 20%;
	overflow-y: hidden;
	border: solid #d6d6d6 1px;
}
p {
	margin: 0;
	width: auto;
}
.td {
	height: 100%;
	padding: 1% 2% 0 2%;
	float: left;
	border: 1px solid #ffffff;
	background-color: #d6d6d6;
}
.td2 {
	padding: 1%;
	float: left;
}
#main {
	height: 100%;
	padding: 0;
	width: 100%;
}
.h3 {
	font-weight: bold;
	float: left;
}
.p {
	float: left;
}